.hero {
  display: flex;
  flex-direction: column;

  &--image {
    order: -1;
    background: url("../../img/image-intro-mobile.jpg") no-repeat center;
    height: 451px;
  }
  &--information {
    background-color: $primary-dark-violet;
    color: white;
    padding: 5.9rem 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  &--header {
    margin-bottom: 13px;
    font-size: 46px;
    letter-spacing: 0;
    line-height: 1.16667;
    font-weight: 400;
  }
  &--text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
  }
  // redo it and implement for all buttons
  &--link {
    width: 125px;
    margin: 0 auto;
    padding: 7px 12px;
  }
}