//TODO you can implement better Tablet responsiveness, eg. make the bg-right-desktop adjust it's size?

.hero {

  &--flex {
    display: flex;
    flex-direction: column
  }
  &--information {
    height: 500px;
    background: url('../../img/bg-pattern-intro-left-mobile.svg') no-repeat, $primary-dark-violet;
    color: white;
    padding: 4.3rem 2.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &--header-dash {
    display: none;
  }
  &--header {
    margin-bottom: .8125rem;
    font-size: 2.875rem;
    letter-spacing: 0;
    line-height: 1.16667;
    font-weight: 400;
    max-width: 422.5px;
  }
  &--text {
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 2rem;
    max-width: 391px;
  }
  &--link {
    margin: 0 auto;
  }
  &--bg-right-bottom-mobile {
    position: absolute;
    right: 0;
    top: 882px;
  }
  &--bg-left-desktop {
    display: none;
  }

  &--image {
    order: -1;
    background: url("../../img/image-intro-mobile.jpg") no-repeat center;
    height: 451px;
    img {
      display: none;
    }
  }

}

@media (min-width: 390px) {
  .hero {
    &--image {
      background: url("../../img/image-intro-desktop.jpg") center 85% no-repeat;
      background-size: cover;
    }
  }
}

@media (min-width: 850px) {
  .hero {
    background: $primary-dark-violet;
    padding-top: 7rem;

    &--flex {
      flex-direction: row;
      justify-content: space-between;
    }
    &--information {
      width: 50%;
      padding: unset;
      padding-right: .9rem;
      order: -1;
      background: unset;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
    }
    &--header-dash {
      display: block;
      margin-bottom: 3rem;
    }
    &--header {
      margin-bottom: 1.6875rem;
      font-size: 3.125rem;
      letter-spacing: 1px;
      line-height: .9;
      max-width: 96%;
    }
    &--text {
      max-width: unset;
    }
    &--link {
      margin: unset;
    }
    &--bg-right-bottom-mobile {
      display: none;
    }
    &--bg-left-desktop {
      display: block;
      position: absolute;
      left: 0;
      top: 510px;
    }

    &--image {
      img {
        display: block;
      }
    }
    &--bg-right-desktop {
      height: 514px;
      width: 436px;
      position: absolute;
      top: 80px;
      right: 0;
      background: right -79px url('../../img/bg-pattern-intro-right-desktop.svg') no-repeat;
    }

  }
}

@media (min-width: 1260px) {
  .hero {
    &--header {
      font-size: 4.25rem;
    }
  }
}