.header {
  min-height: 80px;

  &--menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: $design-width-desktop;
  }

  &--logo {
    margin: 1.75rem 1.75rem 1.75rem 7%;
    order: 1;
    a {
      position: relative;
      top: 2px;
    }
  }

  &--menu-items {
    width: 100%;
    order: 2;
    display: none;
    padding-top: 2.75rem;
    background: url('../../img/bg-pattern-mobile-nav.svg') bottom no-repeat $neutral-very-dark-violet;
    background-size: contain;
    height: calc(100vh - 85px);
    > a:nth-child(1) {
      margin-top: 0;
    }
    &__show {
      display: block;
    }
  }

  &--menu-item {
    color: white;
    margin: 32px auto 0;
    border-bottom: 2px solid $neutral-very-dark-violet;
    width: fit-content;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25rem;
    font-weight: 600;
    display: block;
    &:hover {
      border-bottom: 2px solid white;
    }
  }

  &--mobile-menu-btn {
    order: 1;
    margin: 1.75rem;
    height: 32px;
    cursor: pointer;
  }

  &--mobile-menu-icon {
    display: none;
    &__active {
      display: inline;
    }
  }
}

@media (min-width: 650px) {
  .header {
    &--menu {
      width: 86%;
      margin: 0 auto;
    }
    &--logo {
      margin: 1.75rem 0 1.75rem 0;
    }

    &--menu-items {
      display: block;
      width: auto;
      height: auto;
      background: white;
      margin-top: 2px;
      padding-top: 0;
    }

    &--menu-item {
      display: inline-block;
      color: $neutral-dark-grayish-violet;
      border-bottom: 0;
      margin-top: 0;
      margin-right: 10px;
      font-size: 14px;
      letter-spacing: 1px;
      &:hover {
        color: $primary-dark-violet;
        border-bottom: 0;
      }
    }

    &--mobile-menu-btn {
      display: none;
    }
  }
}

@media (min-width: 730px) {
  .header {
    &--menu-items {
      > a:nth-child(3) {
        margin-right: 30px;
      }
    }

    &--menu-item {
      margin-right: 22px;
    }
  }
}