.container {
  // no need to contain for small devices
}

.container-fixed {
  width: 86%;
  max-width: $design-width-desktop;
  margin: 0 auto;
}

.short-br {
  border-top: 1px solid white;
  width: 150px;
  height: 25px;

  &__dark {
    border-color: $neutral-dark-grayish-violet;
  }
}

.full-br {
  border-top: 1px solid $neutral-dark-grayish-violet;
  width: 86%;
  max-width: $design-width-desktop;
  margin: 0 auto;
}

@media (min-width: $desktop-bp) {
  .container {
    width: 86%;
    max-width: $design-width-desktop;
    margin: 0 auto;
  }
}